body {
  background-image: url("../../assets/images/galaxy-3608029_1280.jpg");
  letter-spacing: 8px;
}

h1 {
  color: purple;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#mars-styling, #search-styling {
  background-color: purple;
}

#nasa-form,
#search-button, #mars-weather {
  color: wheat;
  letter-spacing: 1px;
  border: 2px solid gray;
  box-shadow: gray;
  padding-left: 20px;
}

#mars-output, #nasa-form, #mars-weather {
  padding-bottom: 10px;
}

#image-display {
  text-align: center;
}
